<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo-mob.png">
    <link rel="stylesheet" href="../../css/mobile/style.css">
    <link rel="stylesheet" href="../../css/mobile/personal-area.css">
</head>

<body>
    <!-- mobile popups -->
    <div class="overlay-popup overlay-login">
        <div class="close"></div>
        <div class="login-popup">
            <div class="wrapper">
                <span class="close-popup"></span>
                <div class="popup_header">
                    <h3>Login</h3>
                    <p>Get access to your Orders, Wishlist and Recommendations</p>
                    <img src="../../images/login_img.png" alt="img">
                </div>
                <div class="popup_content">
                    <form>
                        <div class="form-input">
                            <input type="text" placeholder=" " required>
                            <span class="floating-label">Enter Email/Mobile number</span>
                            <span class="error-msg">Please enter valid Email/Mobile number</span>
                        </div>
                        <div class="form-input">
                            <input type="password" placeholder=" " required>
                            <span class="floating-label">Enter Password</span>
                            <a href="javascript:void(0)">Forgot?</a>
                            <span class="error-msg">Please enter valid Password</span>
                        </div>
                        <div class="form-button">
                            <button>Login</button>
                        </div>
                        <p>OR</p>
                        <div class="form-button white">
                            <button>Request OTP</button>
                        </div>
                        <div class="form-link">
                            <a href="javascript:void(0)" class="closeBtn open-registration">New to Flipkart? Create an account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay-popup overlay-registration">
        <div class="close"></div>
        <div class="registration-popup">
            <div class="wrapper">
                <span class="close-popup"></span>
                <div class="popup_header">
                    <h3>Sign up</h3>
                    <p>We do not share your personal details with anyone</p>
                    <img src="../../images/login_img.png" alt="img">
                </div>
                <div class="popup_content">
                    <div class="step step1 active">
                        <form>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter Your Full name</span>
                                <span class="error-msg">Please enter valid Your Full name</span>
                            </div>
                            <div class="form-input">
                                <input type="email" placeholder=" " required>
                                <span class="floating-label">Enter Your Email</span>
                                <span class="error-msg">Please enter valid Email</span>
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter Your Mobile Number</span>
                                <span class="error-msg">Please enter valid Mobile Number</span>
                            </div>
                            <div class="form-button">
                                <button data-step="step2" class="nextStep">CONTINUE</button>
                            </div>
                            <div class="form-button white">
                                <button class="closeButton open-login">Existing user? Log in</button>
                            </div>
                        </form>
                    </div>
                    <div class="step step2">
                        <h4>You will receive a 4-digit number 
                            on you phone within 1 minute.</h4>
                        <form>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter your code</span>
                                <span class="error-msg">Please enter valid your code</span>
                            </div>
                            <div class="form-button">
                                <button data-step="step3" class="nextStep">CONTINUE</button>
                            </div>
                        </form>
                    </div>
                    <div class="step step3">
                        <h4>Create your password</h4>
                        <form>
                            <div class="form-input">
                                <input type="password" placeholder=" " required>
                                <span class="floating-label">Enter your password</span>
                                <span class="error-msg">Please Enter your password</span>
                            </div>
                            <div class="form-input">
                                <input type="password" placeholder=" " required>
                                <span class="floating-label">Confirm your password</span>
                                <span class="error-msg">Please Enter your password</span>
                            </div>
                            <div class="form-button">
                                <button data-step="step4" class="nextStep">CONTINUE</button>
                            </div>
                        </form>
                    </div>
                    <div class="step step4">
                        <h4><span>Congratulations!</span>
                        <span>Your account has been created.</span></h4>
                        <form>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter Email/Mobile number</span>
                                <span class="error-msg">Please enter valid Email/Mobile number</span>
                            </div>
                            <div class="form-input">
                                <input type="password" placeholder=" " required>
                                <span class="floating-label">Enter Password</span>
                                <a href="javascript:void(0)">Forgot?</a>
                                <span class="error-msg">Please enter valid Password</span>
                            </div>
                            <div class="form-button">
                                <button>Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="header_top-line">

                <div class="flex-wrap">
                    <div class="flex-item">
                        <a onclick="javascript:history.back(); return false;" href="" class="back_link"></a>
                    </div>

                    <div class="flex-item">
                        <a href="index.html" class="header_logo">
                            <img src="../../images/logo-desktop.png" alt="logo">
                        </a>
                    </div>

                    <div class="flex-item pageTitle">
                        <p class="title">My Wishlist (1)</p>
                    </div>

                    <div class="flex-item account">
                        <a href="javascript:void(0)" class="profile open-profile"><i class="icon-account"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div class="accountMenu">
        <div class="close_accountMenu"></div>
        <div class="item-line">
            <a href="javascript:void(0)" class="topItem">
                <span class="icon">
                    <i class="icon-orders"></i>
                </span> MY ORDERS
            </a>
        </div>
        <div class="item-line">
            <p class="topItem">
                <span class="icon">
                    <i class="icon-account"></i>
                </span> account settings
            </p>
            <ul>
                <li>
                    <a href="personal-area.html">Profile Information</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Manage Addresses</a>
                </li>
                <li>
                    <a href="javascript:void(0)">PAN Card Information</a>
                </li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="item-line">
            <p class="topItem">
                <span class="icon">
                    <img src="../../images/payments-icon.png" alt="">
                </span> payments
            </p>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <span>PhonePe Wallet</span>
                        <span class="status">₽0</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>Gift Cards</span>
                        <span class="status">₽0</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>Saved Cards</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="item-line">
            <a href="javascript:void(0)" class="topItem">
                <span class="icon">
                    <i class="icon-stuff"></i>
                </span> my chats
            </a>
        </div>
        <div class="separator"></div>
        <div class="item-line">
            <p class="topItem">
                <span class="icon">
                    <i class="icon-stuff"></i>
                </span> my stuff
            </p>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        My Rewards
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        My Reviews & Ratings
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        All Notifications
                    </a>
                </li>
                <li>
                    <a href="wishlist.html">
                        My Wishlist
                    </a>
                </li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="item-line">
            <a href="javascript:void(0)" class="topItem">
                <span class="icon">
                    <i class="icon-logout"></i>
                </span> Logout
            </a>
        </div>
    </div>

    <section>
        <div class="row">
            <div class="container">
                <div class="top">
                    <img src="../../images/wishlist-user.png" alt="">
                    <span>Hello</span>
                </div>
                <div class="separator"></div>
                <div class="bottom">
                    <a href="javascript:void(0)" class="topItem">
                        <span class="icon">
                            <img src="../../images/bonuses-icon.png" alt="">
                        </span>
                        <span>50 more coins to FLIPKART PLUS</span>
                        <i class="icon-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <form>
                    <div class="heading">
                        <p>Personal Information</p>
                        <a href="javascript:void(0)">Edit</a>
                    </div>
                    <div class="form-input">
                        <input type="text">
                    </div>
                    <div class="form-input">
                        <input type="text">
                    </div>
                    <div class="form-radioBtn">
                        <p>Your Gender</p>
                        <div class="flex-wrap">
                            <label class="wrap">
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                                <span class="label">Male</span>
                            </label>
                            <label class="wrap">
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                                <span class="label">Female</span>
                            </label>
                        </div>
                    </div>
                    <div class="heading">
                        <p>Email Address</p>
                        <a href="javascript:void(0)">Edit</a>
                        <a href="javascript:void(0)">Change Password</a>
                    </div>
                    <div class="form-input">
                        <input type="text">
                    </div>
                    <div class="heading">
                        <p>Mobile Number</p>
                        <a href="javascript:void(0)">Edit</a>
                    </div>
                    <div class="form-input">
                        <input type="text" placeholder="+918551848020">
                    </div>
                    <div class="faq">
                        <h3>FAQs</h3>
                        <p><strong>What happens when I update my email address (or mobile number)?</strong></p>
                        <p>Your login email id (or mobile number) changes, likewise. You'll receive all your account related communication on your updated email address (or mobile number).</p>
                        <p><strong>When will my Flipkart account be updated with the new email address (or mobile number)?</strong></p>
                        <p>It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.</p>
                        <p><strong>What happens to my existing Flipkart account when I update my email address (or mobile number)?</strong></p>
                        <p>Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully functional. You'll continue seeing your Order history, saved information and personal details.</p>
                        <p><strong>Does my Seller account get affected when I update my email address?</strong></p>
                        <p>Flipkart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</p>
                    </div>
                    <a href="javascript:void(0)" class="deactivate">Deactivate Account</a>
                </form>
            </div>
        </div>
    </section>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/mobile/personal-area.min.js"></script>
    <script src="../../js/mobile/script.min.js"></script>
</body>

</html>