<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links</title>
</head>

<body>
    <ul>
        <li>
            <a href="index.html">Главная</a>
        </li>
        <li>
            <a href="single-product.html">Карточка товара</a>
        </li>
        <li>
            <a href="catalog-rings.html">Колекция кольца</a>
        </li>
        <li>
            <a href="catalog.html">Каталог</a>
        </li>
        <li>
            <a href="calculator.html">Калькулятор</a>
        </li>
    </ul>
</body>

</html>