<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">

    <style>
        a {
            color: #000;
        }

        strong {
            color: red;
        }
    </style>
</head>

<body>

    <ul style="margin: 20px;">
        <li><a href="index.html">Главная</a></li>
        <li>-------------------------------</li>
        <li><a href="score.html">Магазин?</a></li>
        <li><a href="score-product.html">Магазин продукт?</a></li>
        <li><a href="score-catalog.html">Магазин католог?</a></li>
        <li>-------------------------------</li>
        <li><a href="404.html">404</a></li>
        <li><a href="events.html">События</a></li>
        <li><a href="organizations.html">Организации</a></li>
        <li><a href="specialists.html">Специалисты</a></li>
        <li><a href="search-page.html">Поиск</a></li>
        <li>-------------------------------</li>
        <li><a href="projects.html">Проекты - <strong>обновлена</strong></a></li>
        <li><a href="project_card.html">Карточка проекта - <strong>обновлена</strong></a></li>
        <li><a href="project_card-customer.html">Карточка проекта для заказчика - <strong>обновлена</strong></a></li>
        <li><a href="project_card-participant.html">Карточка проекта для участника - <strong>обновлена</strong></a></li>
        <li>-------------------------------</li>
        <li><a href="profile-expert.html">Профиль специалист//В первой публикации есть редактирование и комментарии - <strong>обновлена</strong></a>
        </li>
        <li><a href="profile-non-expert.html">Профиль не специалист</a></li>
        <li><a href="profile-products.html">Профиль товары</a></li>
        <li><a href="profile-setting.html">Профиль настройки</a></li>
        <li><a href="profile-unregistered.html">Профиль незарегистрированный</a></li>
        <li><a href="profile.html">Профиль проекты - <strong>обновлена</strong></a></li>
        <li><a href="profile-company.html">Профиль компании</a></li>
        <li><a href="profile-friends.html">Профиль друзья</a></li>
        <li><a href="profile-video.html">Профиль видео</a></li>
        <li><a href="profile-foto.html">Профиль фото</a></li>
        <li><a href="profile-messages.html">Профиль сообщения</a></li>
        <li><a href="profile-messages2.html">Профиль одно сообщение</a></li>
        <li><a href="profile-reviews.html">Профиль отзывы</a></li>
        <li><a href="profile-bookmarks.html">Профиль закладки</a></li>
        <li><a href="profile-news.html">Профиль новости</a></li>
        <li>-------------------------------</li>
        <li><a href="register-form.html">Регистрация</a></li>
        <li><a href="sign-in.html">Вход</a></li>
        <li><a href="profile-editing.html">Личный кабинет не специалиста</a></li>
        <li><a href="profile-editing-phone.html">Личный кабинет не специалиста с телефоном</a></li>
        <li><a href="profile-expert-company.html">Профиль специалист (компания)</a></li>
        <li><a href="personal-area-projects.html">Личный кабинет проекты</a></li>
        <li><a href="my-profile.html">Мой профиль</a></li>
        <li><a href="my-profile2.html">Мой профиль (повысить статус)</a></li>
        <li><a href="financial-cabinet.html">Финансовый кабинет</a></li>
        <li><a href="popups.html">Popups</a></li>
        <li>-------------------------------</li>
        <li><a href="password-recovery.html"> Восстановление пароля 1</a></li>
        <li><a href="password-recovery2.html"> Восстановление пароля 2</a></li>
        <li><a href="password-recovery3.html"> Восстановление пароля 3</a></li>
        <li>-------------------------------</li>

        <li><a href="create-project.html">Создание проекта - <strong>новая</strong></a></li>
        <li><a href="project-editing.html">Оформить проект в сделку - <strong>новая</strong></a></li>
        <li><a href="project_card-chat.html">Карточка проекта переписка с несколькими исполнителемя - <strong>новая</strong></a></li>
        <li><a href="project_card-chat2.html">Карточка проекта переписка с одним исполнителем - <strong>новая</strong></a></li>
    </ul>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>