<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Продвижение</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile_menu.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>

    <div class="notifications_popup">
        <div class="closeBtn"></div>
        <div class="heading">
            <p>Мои уведомления</p>
        </div>
        <div class="content">
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <p class="text">А возможна ли выездная съем...</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <div class="text">
                        <p>А возможна ли выездная съем...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="userInfo clearfix">
                    <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                    <a class="messages notifications_popup-open" href="javascript:void(0)">
                        <i class="icon-icon10"></i>
                        <span>21</span>
                    </a>
                    <a class="score" href="score.html">Магазин</a>
                    <div class="info">
                        <div class="userName">
                            <p>Иван Иванов</p>
                            <span class="arrow"><i class="icon-icon28"></i></span>
                        </div>
                        <ul class="headerSetting">
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav class="userMenu">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                                </ul>
                            </nav>
                            <nav class="userMenu-2">
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon34"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="javascript:void(0)">Профиль</a></li>
                <li><span>Продвижение</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner.jpg" alt="banner">
                </a>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner2.png" alt="banner">
                </a>
            </div>
            <div class="profile-promotion">
                <div class="sidebar">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Мой профиль</a>
                        </li>
                        <li class="has-child active">
                            <a href="javascript:void(0)">Мои организации</a>
                            <ul>
                                <li class="active">
                                    <a href="javascript:void(0)">Моя группа 1</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Моя группа с длинным названием</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Моя группа 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Финансовый кабинет</a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Mattis nulla pede condimentum</h3>
                    <p>Velit condimentum mauris nec cras dolor ante, lacus adipiscing potenti leo faucibus felis, justo orci egestas, amet vestibulum diam in quam vehicula nibh, at non ornare vivamus. Pede blandit sagittis justo in, morbi feugiat et aliquam diam, dignissim nulla, mollis penatibus turpis.</p>
                    <div class="flex-wrap topItems">
                        <div class="item">
                            <div class="item__img">
                                <i class="icon-base"></i>
                            </div>
                            <div class="item__text">
                                <h4>Статус <strong>“BASE”</strong></h4>
                                <ul>
                                    <li>
                                        <p>базовый рейтинг</p>
                                    </li>
                                    <li>
                                        <p>возможность вести до 10 открытых проектов одновременно </p>
                                    </li>
                                    <li>
                                        <p>базовое фото профиля</p>
                                    </li>
                                    <li>
                                        <p>отсутствие ссылки на персональный сайт, страницы в социальных сетях и мессенджерах</p>
                                    </li>
                                    <li>
                                        <p>базовая специальность</p>
                                    </li>
                                    <li>
                                        <p>размещение в каталогах по родному городу</p>
                                    </li>
                                </ul>
                                <p class="price">По умолчанию</p>
                                <a href="javascript:void(0)" class="btn active-btn">Активен</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <i class="icon-pro"></i>
                            </div>
                            <div class="item__text">
                                <h4>Статус <strong>"PRO"</strong></h4>
                                <ul>
                                    <li>
                                        <p>х 1,4 к рейтингу</p>
                                    </li>
                                    <li>
                                        <p>возможность вести до 30 открытых проектов одновременно </p>
                                    </li>
                                    <li>
                                        <p>возможность размещения широкой обложки</p>
                                    </li>
                                    <li>
                                        <p>ссылки на персональный сайт, страницы в социальных сетях и мессенджерах</p>
                                    </li>
                                    <li>
                                        <p>возможность выбора до 2-х дополнительных специальностей</p>
                                    </li>
                                    <li>
                                        <p>возможность выбора до 5-ти городов выезда</p>
                                    </li>
                                </ul>
                                <p class="price">от 5 000 RUB / мес</p>
                                <a href="javascript:void(0)" class="btn">Купить</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <i class="icon-top"></i>
                            </div>
                            <div class="item__text">
                                <h4>Статус <strong>"TOP"</strong></h4>
                                <ul>
                                    <li>
                                        <p>х 2 к рейтингу</p>
                                    </li>
                                    <li>
                                        <p>возможность вести до 90 открытых проектов одновременно </p>
                                    </li>
                                    <li>
                                        <p>возможность размещения широкой обложки</p>
                                    </li>
                                    <li>
                                        <p>ссылки на персональный сайт, страницы в социальных сетях и мессенджерах</p>
                                    </li>
                                    <li>
                                        <p>возможность выбора до 2-х дополнительных специальностей</p>
                                    </li>
                                    <li>
                                        <p>возможность выбора до 5-ти городов выезда</p>
                                    </li>
                                </ul>
                                <p class="price">от 10 000 RUB / мес</p>
                                <a href="javascript:void(0)" class="btn">Купить</a>
                            </div>
                        </div>
                    </div>
                    <p class="validity">
                        услуга действительна до:
                        <span>12 мая 2019</span>
                    </p>
                    <h5>Дополнительные пакеты</h5>
                    <div class="flex-wrap bottomItems">
                        <div class="item">
                            <div class="item__img">
                                <img src="../img/shop1.png" alt="icon">
                            </div>
                            <div class="item__text">
                                <h4><strong>“Магазин”</strong></h4>
                                <ul>
                                    <li>
                                        <p>возможность размещения до 50 товаров со своего профиля</p>
                                    </li>
                                </ul>
                                <p class="price">от 5 000 RUB / мес</p>
                                <a href="javascript:void(0)" class="btn">Купить</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="../img/shop2.png" alt="icon">
                            </div>
                            <div class="item__text">
                                <h4><strong>“Супермаркет”</strong></h4>
                                <ul>
                                    <li>
                                        <p>возможность размещения до 150 товаров со своего профиля</p>
                                    </li>
                                </ul>
                                <p class="price">от 10 000 RUB / мес</p>
                                <a href="javascript:void(0)" class="btn">Купить</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="../img/shop3.png" alt="icon">
                            </div>
                            <div class="item__text">
                                <h4><strong>“гипермаркет”</strong></h4>
                                <ul>
                                    <li>
                                        <p>возможность размещения до 300 товаров со своего профиля</p>
                                    </li>
                                </ul>
                                <p class="price">от 15 000 RUB / мес</p>
                                <a href="javascript:void(0)" class="btn">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/promotion.min.js"></script>
</body>

</html>