<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile_menu.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/mCustomScrollbar.css">
</head>

<body>

    <div class="notifications_popup">
        <div class="closeBtn"></div>
        <div class="heading">
            <p>Мои уведомления</p>
        </div>
        <div class="content">
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <p class="text">А возможна ли выездная съем...</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <div class="text">
                        <p>А возможна ли выездная съем...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- попап удалить диалог -->
    <div class="overlay-deleteDialogue overlayPopup">
        <div class="close"></div>
        <div class="deleteDialogue__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p>Вы уверены что хотите <strong>удалить диалог</strong> c данным пользователем?</p>
                <p>Отменить это действие будет <strong>невозможно</strong>.</p>
                <div class="btns-wrap">
                    <a href="javascript:void(0)" class="remove closeBtn open-successfulDel">Удалить</a>
                    <a href="javascript:void(0)" class="closeBtn cancel">Отмена</a>
                </div>
            </div>
        </div>
    </div>
    <!-- конец попап удалить диалог -->

    <div class="overlay-successfulDel overlayPopup">
        <div class="close"></div>
        <div class="successfulDel__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p>История сообщений с пользователем Иван Иванов удалена.</p>
            </div>
        </div>
    </div>


    <div class="creationChat_popup">
        <div class="closeBtn"></div>
        <div class="heading">
            <p>Создать беседу</p>
        </div>
        <div class="content">
            <div class="actions">
                <form>
                    <div class="flex-wrap">
                        <div class="form-input">
                            <i class="icon-icon5"></i>
                            <input type="text" placeholder="Введите название беседы">
                        </div>
                        <div class="form-button">
                            <button>Перейти к диалогу</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="usersList mCustomScrollbar">
                <div class="checkbox-item">
                    <label for="user1">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user1" type="checkbox" checked>
                </div>
                <div class="checkbox-item">
                    <label for="user2">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user2" type="checkbox">
                </div>
                <div class="checkbox-item">
                    <label for="user3">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user3" type="checkbox">
                </div>
                <div class="checkbox-item">
                    <label for="user4">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user4" type="checkbox">
                </div>
                <div class="checkbox-item">
                    <label for="user5">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user5" type="checkbox">
                </div>
                <div class="checkbox-item">
                    <label for="user6">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user6" type="checkbox" checked>
                </div>
                <div class="checkbox-item">
                    <label for="user7">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user7" type="checkbox">
                </div>
                <div class="checkbox-item">
                    <label for="user8">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user8" type="checkbox">
                </div>
                <div class="checkbox-item">
                    <label for="user9">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user9" type="checkbox">
                </div>
                <div class="checkbox-item">
                    <label for="user10">
                        <img src="../img/messages-item1.png" alt="">
                        Иван Иванов
                    </label>
                    <input id="user10" type="checkbox">
                </div>
            </div>
        </div>
    </div>


    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="userInfo clearfix">
                    <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                    <a class="messages notifications_popup-open" href="javascript:void(0)">
                        <i class="icon-icon10"></i>
                        <span>21</span>
                    </a>
                    <a class="score" href="score.html">Магазин</a>
                    <div class="info">
                        <div class="userName">
                            <p>Иван Иванов</p>
                            <span class="arrow"><i class="icon-icon28"></i></span>
                        </div>
                        <ul class="headerSetting">
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav class="userMenu">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                                </ul>
                            </nav>
                            <nav class="userMenu-2">
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon34"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Профиль</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="profile-expert.html"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="profile-news.html"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="profile-messages.html"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="profile-friends.html"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="profile-company.html"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="profile.html"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="profile-foto.html"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="profile-video.html"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="profile-products.html"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="profile-bookmarks.html"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="profile-reviews.html"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner.jpg" alt="banner">
                </a>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner2.png" alt="banner">
                </a>
            </div>
            <div class="profile-messages">
                <div class="projects-nav">
                    <div class="nav">
                        <ul>
                            <li class="filter-items filter-items active" data-tab="allTab"><a href="javascript:void(0)">Все сообщение</a></li>
                            <li class="filter-items filter-items" data-tab="unreadTab"><a href="javascript:void(0)">Непрочитанные 3</a></li>
                            <li class="filter-items filter-items" data-tab="importantTab"><a href="javascript:void(0)">Важные сообщения</a></li>
                        </ul>
                    </div>
                </div>
                <div class="messages-content active tab-item allTab">
                    <div class="messages-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Имя друга">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                        <a href="javascript:void(0)" class="creationChat"><i class="icon-add-people"></i></a>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item2.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item3.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item4.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item5.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item4.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item5.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>

                    <div class="pagination">
                        <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                        </ul>
                        <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                    </div>
                </div>
                <div class="messages-content tab-item unreadTab">
                    <div class="messages-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Имя друга">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов22</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item2.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item3.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>

                    <div class="pagination">
                        <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                        </ul>
                        <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                    </div>
                </div>
                <div class="messages-content tab-item importantTab">
                    <div class="messages-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Имя друга">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="messages-item">
                        <a href="profile-messages2.html"></a>
                        <span class="del open-deleteDialogue"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="javascript:void(0)"></a>
                            <div class="avatar-text">
                                <h4><a href="javascript:void(0)"></a>Иван Иванов33</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>

                    <div class="pagination">
                        <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                        </ul>
                        <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/profile.min.js"></script>
    <script src="../js/profile-messages.min.js"></script>
</body>

</html>