<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile_menu.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body class="body">

    <div class="notifications_popup">
        <div class="closeBtn"></div>
        <div class="heading">
            <p>Мои уведомления</p>
        </div>
        <div class="content">
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <p class="text">А возможна ли выездная съем...</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <div class="text">
                        <p>А возможна ли выездная съем...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- попап сообщение -->
    <div class="overlay-deleteMsg overlayPopup">
        <div class="close"></div>
        <div class="deleteMsg__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p>Вы уверены что хотите <strong>удалить данное сообщение?</strong></p>
                <p>Отменить это действие будет <strong>невозможно</strong>.</p>
                <div class="btns-wrap">
                    <a href="javascript:void(0)" class="remove">Удалить</a>
                    <a href="javascript:void(0)" class="closeBtn cancel">Отмена</a>
                </div>
            </div>
        </div>
    </div>
    <!-- конец попап удалить сообщение -->







    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="userInfo clearfix">
                    <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                    <a class="messages notifications_popup-open" href="javascript:void(0)">
                        <i class="icon-icon10"></i>
                        <span>21</span>
                    </a>
                    <a class="score" href="score.html">Магазин</a>
                    <div class="info">
                        <div class="userName">
                            <p>Иван Иванов</p>
                            <span class="arrow"><i class="icon-icon28"></i></span>
                        </div>
                        <ul class="headerSetting">
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav class="userMenu">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                                </ul>
                            </nav>
                            <nav class="userMenu-2">
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon34"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- попап в показать вложения -->
    <div class="profile-attachments ">
        <div class="close"></div>
        <div class="attachments-body mCustomScrollbar">
            <div class="closeBtn"></div>
            <div class="navigation">
                <ul>
                    <li class="filter-item " data-tab="photosTab"><a href="javascript:void(0)">Фотографии</a></li>
                    <li class="filter-item " data-tab="videoTabs"><a href="javascript:void(0)"> Видеозаписи</a></li>
                    <li class="filter-item " data-tab="documentsTabs"><a href="javascript:void(0)">Документы</a></li>
                    <li class="filter-item " data-tab="fileTabs"><a href="javascript:void(0)"> Ссылки</a></li>
                </ul>
            </div>
            <div class="attachments-content active tab-items videoTabs">
                <div class="video-content clearfix">
                    <div class="video-item">
                        <div class="avatar clearfix">
                            <a href="profile-expert.html"></a>
                            <img src="../img/video-item-avatar.png" alt="">
                            <div class="name">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <p>28 октября </p>
                            </div>
                        </div>
                        <div class="video-text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. </p>
                            <div class="video" style="background: url('../img/video-text-img1.png'); background-size: cover;">
                                <a class="videoLink" data-fancybox="gallery" href="#media-video2-3"></a>
                                <span><i></i></span>
                                <div class="hideVideo">
                                    <video width="540" height="300" class="video-js vjs-default-skin" controls id="media-video2-3" data-setup='{}'>
                                        <source src="../img/search_page/videos/video.mp4" type="video/mp4">
                                        <source src="../img/search_page/videos/video.mp4" type="video/webm">
                                        <source src="../img/search_page/videos/video.mp4" type="video/ogg">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-item">
                        <div class="avatar clearfix">
                            <a href="profile-expert.html"></a>
                            <img src="../img/video-item-avatar.png" alt="">
                            <div class="name">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <p>28 октября </p>
                            </div>
                        </div>
                        <div class="video-text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. </p>
                            <div class="video" style="background: url('../img/video-text-img2.png'); background-size: cover;">
                                <a class="videoLink" data-fancybox="gallery" href="#media-video2-4"></a>
                                <span><i></i></span>
                                <div class="hideVideo">
                                    <video width="540" height="300" class="video-js vjs-default-skin" controls id="media-video2-4" data-setup='{}'>
                                        <source src="../img/search_page/videos/video.mp4" type="video/mp4">
                                        <source src="../img/search_page/videos/video.mp4" type="video/webm">
                                        <source src="../img/search_page/videos/video.mp4" type="video/ogg">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-item">
                        <div class="avatar clearfix">
                            <a href="profile-expert.html"></a>
                            <img src="../img/video-item-avatar.png" alt="">
                            <div class="name">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <p>28 октября </p>
                            </div>
                        </div>
                        <div class="video-text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. </p>
                            <div class="video" style="background: url('../img/video-text-img3.png'); background-size: cover;">
                                <a class="videoLink" data-fancybox="gallery" href="#media-video2-8"></a>
                                <span><i></i></span>
                                <div class="hideVideo">
                                    <video width="540" height="300" class="video-js vjs-default-skin" controls id="media-video2-8" data-setup='{}'>
                                        <source src="../img/search_page/videos/video.mp4" type="video/mp4">
                                        <source src="../img/search_page/videos/video.mp4" type="video/webm">
                                        <source src="../img/search_page/videos/video.mp4" type="video/ogg">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-item">
                        <div class="avatar clearfix">
                            <a href="profile-expert.html"></a>
                            <img src="../img/video-item-avatar.png" alt="">
                            <div class="name">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <p>28 октября </p>
                            </div>
                        </div>
                        <div class="video-text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. </p>
                            <div class="video" style="background: url('../img/video-text-img4.png'); background-size: cover;">
                                <a class="videoLink" data-fancybox="gallery" href="#media-video1-5"></a>
                                <span><i></i></span>
                                <div class="hideVideo">
                                    <video width="540" height="300" class="video-js vjs-default-skin" controls id="media-video1-5" data-setup='{}'>
                                        <source src="../img/search_page/videos/video.mp4" type="video/mp4">
                                        <source src="../img/search_page/videos/video.mp4" type="video/webm">
                                        <source src="../img/search_page/videos/video.mp4" type="video/ogg">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-item">
                        <div class="avatar clearfix">
                            <a href="profile-expert.html"></a>
                            <img src="../img/video-item-avatar.png" alt="">
                            <div class="name">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <p>28 октября </p>
                            </div>
                        </div>
                        <div class="video-text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. </p>
                            <div class="video" style="background: url('../img/video-text-img5.png'); background-size: cover;">
                                <a class="videoLink" data-fancybox="gallery" href="#media-video1-7"></a>
                                <span><i></i></span>
                                <div class="hideVideo">
                                    <video width="540" height="300" class="video-js vjs-default-skin" controls id="media-video1-7" data-setup='{}'>
                                        <source src="../img/search_page/videos/video.mp4" type="video/mp4">
                                        <source src="../img/search_page/videos/video.mp4" type="video/webm">
                                        <source src="../img/search_page/videos/video.mp4" type="video/ogg">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-item">
                        <div class="avatar clearfix">
                            <a href="profile-expert.html"></a>
                            <img src="../img/video-item-avatar.png" alt="">
                            <div class="name">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <p>28 октября </p>
                            </div>
                        </div>
                        <div class="video-text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. </p>
                            <div class="video" style="background: url('../img/video-text-img6.png'); background-size: cover;">
                                <a class="videoLink" data-fancybox="gallery" href="#media-video1-6"></a>
                                <span><i></i></span>
                                <div class="hideVideo">
                                    <video width="540" height="300" class="video-js vjs-default-skin" controls id="media-video1-6" data-setup='{}'>
                                        <source src="../img/search_page/videos/video.mp4" type="video/mp4">
                                        <source src="../img/search_page/videos/video.mp4" type="video/webm">
                                        <source src="../img/search_page/videos/video.mp4" type="video/ogg">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="attachments-content tab-items photosTab">
                <div class="year-items">
                    <div class="year-item clearfix">
                        <div class="year-item-img" style="background: url('../img/year-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img1.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img2.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img3.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img5.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img6.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img7.png"></a>
                        </div>
                    </div>
                    <div class="year-item clearfix">
                        <div class="year-item-img" style="background: url('../img/year-item-img9.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img9.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img10.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img10.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img11.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img11.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img13.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img13.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img14.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img14.png"></a>
                        </div>
                        <div class="year-item-img" style="background: url('../img/year-item-img15.png') no-repeat 50% 50%; background-size: cover;">
                            <a class="imgLink" data-fancybox="gallery" href="../img/year-item-img15.png"></a>
                        </div>
                    </div>


                    <!-- build:section layout.pagination-->
                    <!-- /build -->
                </div>
            </div>
            <div class="attachments-content tab-items documentsTabs">
                <ul>
                    <li>
                        <i class="icon-file"></i>
                        <div class="item">
                            <p>прайслист.doc</p>
                            <span>22.7 МБ</span>
                        </div>
                    </li>
                    <li>
                        <i class="icon-file"></i>
                        <div class="item">
                            <p>прайслист.doc</p>
                            <span>22.7 МБ</span>
                        </div>
                    </li>
                    <li>
                        <i class="icon-file"></i>
                        <div class="item">
                            <p>прайслист.doc</p>
                            <span>22.7 МБ</span>
                        </div>
                    </li>
                    <li>
                        <i class="icon-file"></i>
                        <div class="item">
                            <p>прайслист.doc</p>
                            <span>22.7 МБ</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="attachments-content tab-items fileTabs">
                <ul>
                    <li>
                        <i class=" icon-icon4"></i>
                        <div class="item">
                            <p>Grand photoshoot competition</p>
                            <span>photoshoot-moscow.ru</span>
                        </div>
                    </li>
                    <li>
                        <i class=" icon-icon4"></i>
                        <div class="item">
                            <p>Grand photoshoot competition</p>
                            <span>photoshoot-moscow.ru</span>
                        </div>
                    </li>
                    <li>
                        <i class=" icon-icon4"></i>
                        <div class="item">
                            <p>Grand photoshoot competition</p>
                            <span>photoshoot-moscow.ru</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- конец -->



    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Профиль</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="profile-expert.html"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="profile-news.html"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="profile-messages.html"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="profile-friends.html"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="profile-company.html"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="profile.html"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="profile-foto.html"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="profile-video.html"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="profile-products.html"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="profile-bookmarks.html"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="profile-reviews.html"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner.jpg" alt="banner">
                </a>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner2.png" alt="banner">
                </a>
            </div>
            <div class="profile-messages">
                <div class="projects-nav">
                    <div class="nav">
                        <ul>
                            <li class="filter-items filter-items active" data-tab="allTab"><a href="javascript:void(0)">Все сообщение</a></li>
                            <li class="filter-items filter-items" data-tab="unreadTab"><a href="javascript:void(0)">Непрочитанные 3</a></li>
                            <li class="filter-items filter-items" data-tab="importantTab"><a href="javascript:void(0)">Важные сообщения</a></li>
                        </ul>
                    </div>
                    <div class="heading">
                        <div class="heading-top">
                            <a href="profile-messages.html" class="back"><i class="icon-icon28"></i> Назад</a>
                            <div class="user-name">
                                <h3>Иван Иванов</h3>
                                <p class="active">Был в сети 1 час назад</p>
                            </div>
                            <div class="form">
                                <div class="show-search"><i class="icon-icon25"></i></div>
                                <form class="clearfix">
                                    <div class="search">
                                        <input type="text" placeholder="Имя друга">
                                        <button><i class="icon-icon25"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="options">
                                <a href="javascript:void(0)" class="openBtn">Параметры <i class="icon-icon28"></i></a>
                                <div class="optionsList">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">Добавить собеседника</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="attachments-on">Показать вложения</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Отключить уведомления</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Поиск по истории сообщения</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Очистить историю сообщений</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="heading-bottom">
                            <p class="active">Был в сети 1 час назад</p>
                            <div class="options">
                                <a href="javascript:void(0)" class="openBtn">Параметры <i class="icon-icon28"></i></a>
                                <div class="optionsList">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">Добавить собеседника</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="attachments-on">Показать вложения</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Отключить уведомления</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Поиск по истории сообщения</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">чистить историю сообщений</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="messages-content active tab-item allTab">
                    <div class="messages-item delete">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Удалено.</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову
                                гранку та склав на ній підбірку зразків шрифтів.
                                "Риба" не тільки успішно пережила пять століть, але й прижилася в електронному
                                верстуванні, залишаючись по суті незмінною.</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову
                                гранку та склав на ній підбірку зразків шрифтів.
                                "Риба" не тільки успішно пережила пять століть, але й прижилася в електронному
                                верстуванні, залишаючись по суті незмінною.</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову
                                гранку та склав на ній підбірку зразків шрифтів.
                                "Риба" не тільки успішно пережила пять століть, але й прижилася в електронному
                                верстуванні, залишаючись по суті незмінною.</p>
                        </div>
                    </div>

                    <div class="writeMessage">
                        <form>
                            <div class="writeMessage-file">
                                <input type="file" name="file" id="file" class="inputfile" accept="image/*">
                                <label for="file"><i class="icon-icon26"></i></label>
                            </div>
                            <div class="writeMessage-file">
                                <input type="file" name="file" id="file-2" class="inputfile" accept="video/*">
                                <label for="file-2"><i class="icon-icon19"></i></label>
                            </div>
                            <div class="writeMessage-file">
                                <i class="icon-paperclip paperclip"></i>
                                <div class="dropdown-list" style="background-image: url(../img/dropdown.png)">
                                    <ul>
                                        <li>
                                            <input type="file" name="file" id="file01" class="inputfile" accept="image/*">
                                            <label for="file01">Фотография</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file02" class="inputfile" accept="video/*">
                                            <label for="file02">Видеозапись</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file03" class="inputfile" accept="audio/*">
                                            <label for="file03">Аудиозапись</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file04" class="inputfile">
                                            <label for="file04">Документ</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="writeMessage-text">
                                <textarea class="checkTextarea" type="text"></textarea>
                                <button><i class="icon-icon29"></i></button>
                            </div>
                        </form>
                    </div>

                    <div class="pagination">
                        <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                        </ul>
                        <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                    </div>
                </div>
                <div class="messages-content tab-item unreadTab">
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет222. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову
                                гранку та склав на ній підбірку зразків шрифтів.
                                "Риба" не тільки успішно пережила пять століть, але й прижилася в електронному
                                верстуванні, залишаючись по суті незмінною.</p>
                        </div>
                    </div>

                    <div class="writeMessage">
                        <form>
                            <div class="writeMessage-file">
                                <input type="file" name="file" id="file" class="inputfile" accept="image/*">
                                <label for="file"><i class="icon-icon26"></i></label>
                            </div>
                            <div class="writeMessage-file">
                                <input type="file" name="file" id="file-2" class="inputfile" accept="video/*">
                                <label for="file-2"><i class="icon-icon19"></i></label>
                            </div>
                            <div class="writeMessage-file">
                                <i class="icon-paperclip paperclip"></i>
                                <div class="dropdown-list" style="background-image: url(../img/dropdown.png)">
                                    <ul>
                                        <li>
                                            <input type="file" name="file" id="file01" class="inputfile" accept="image/*">
                                            <label for="file01">Фотография</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file02" class="inputfile" accept="video/*">
                                            <label for="file02">Видеозапись</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file03" class="inputfile" accept="audio/*">
                                            <label for="file03">Аудиозапись</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file04" class="inputfile">
                                            <label for="file04">Документ</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="writeMessage-text">
                                <textarea class="checkTextarea" type="text"></textarea>
                                <button><i class="icon-icon29"></i></button>
                            </div>
                        </form>
                    </div>

                    <div class="pagination">
                        <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                        </ul>
                        <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                    </div>
                </div>
                <div class="messages-content tab-item importantTab">
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет333. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del open-deleteMsg"></span>
                        <span class="share"><i class="icon-icon9"></i></span>
                        <span class="info">!</span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <a href="profile-expert.html"></a>
                            <div class="avatar-text">
                                <h4>
                                    <a href="profile-expert.html"></a>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>

                    <div class="writeMessage">
                        <form>
                            <div class="writeMessage-file">
                                <input type="file" name="file" id="file" class="inputfile" accept="image/*">
                                <label for="file"><i class="icon-icon26"></i></label>
                            </div>
                            <div class="writeMessage-file">
                                <input type="file" name="file" id="file-2" class="inputfile" accept="video/*">
                                <label for="file-2"><i class="icon-icon19"></i></label>
                            </div>
                            <div class="writeMessage-file">
                                <i class="icon-paperclip paperclip"></i>
                                <div class="dropdown-list" style="background-image: url(../img/dropdown.png)">
                                    <ul>
                                        <li>
                                            <input type="file" name="file" id="file01" class="inputfile" accept="image/*">
                                            <label for="file01">Фотография</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file02" class="inputfile" accept="video/*">
                                            <label for="file02">Видеозапись</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file03" class="inputfile" accept="audio/*">
                                            <label for="file03">Аудиозапись</label>
                                        </li>
                                        <li>
                                            <input type="file" name="file" id="file04" class="inputfile">
                                            <label for="file04">Документ</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="writeMessage-text">
                                <textarea class="checkTextarea" type="text"></textarea>
                                <button><i class="icon-icon29"></i></button>
                            </div>
                        </form>
                    </div>


                    <div class="pagination">
                        <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                        </ul>
                        <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/video-js.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/profile.min.js"></script>
    <script src="../js/profile-messages.min.js"></script>
</body>

</html>