<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Профиль настройки</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile_menu.css">
    <link rel="stylesheet" href="../css/profile-setting.css">
</head>

<body>

    <div class="notifications_popup">
        <div class="closeBtn"></div>
        <div class="heading">
            <p>Мои уведомления</p>
        </div>
        <div class="content">
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <p class="text">А возможна ли выездная съем...</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <div class="text">
                        <p>А возможна ли выездная съем...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="userInfo clearfix">
                    <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                    <a class="messages notifications_popup-open" href="javascript:void(0)">
                        <i class="icon-icon10"></i>
                        <span>21</span>
                    </a>
                    <a class="score" href="score.html">Магазин</a>
                    <div class="info">
                        <div class="userName">
                            <p>Иван Иванов</p>
                            <span class="arrow"><i class="icon-icon28"></i></span>
                        </div>
                        <ul class="headerSetting">
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav class="userMenu">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                                </ul>
                            </nav>
                            <nav class="userMenu-2">
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon34"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Профиль</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="profile-expert.html"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="profile-news.html"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="profile-messages.html"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="profile-friends.html"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="profile-company.html"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="profile.html"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="profile-foto.html"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="profile-video.html"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="profile-products.html"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="profile-bookmarks.html"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="profile-reviews.html"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner.jpg" alt="banner">
                </a>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner2.png" alt="banner">
                </a>
            </div>
            <div class="profile__setting">
                <div class="profile__setting-heading">
                    <ul>
                        <li class="active"><a href="profile-setting.html">Настройки</a></li>
                        <li><a href="javascript:void(0)">Иван Иванов</a></li>
                    </ul>
                </div>

                <div class="profile__setting-item avatar">
                    <div class="title-blk">
                        <p>Редактирование аватара</p>
                    </div>
                    <div class="setting-blk">
                        <div class="form__file">
                            <input type="file" name="file" id="file" class="inputfile" accept="image/x-png,image/gif,image/jpeg" required>
                            <label for="file">
                                <span class="imgSize">
                                    <span id="preview">
                                        <i class="icon-icon5"></i>
                                    </span>
                                </span>
                                <span class="uploadTitle">Загрузить фото</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Настройки профиля </p>
                    </div>
                    <div class="setting-blk">
                        <div class="checkbox">
                            <div class="checkbox-item">
                                <input id="value1" type="checkbox" checked>
                                <label for="value1">Скрывать блок подарков</label>
                            </div>
                            <div class="checkbox-item">
                                <input id="value2" type="checkbox">
                                <label for="value2">При открытии профиля показывать мои записи</label>
                            </div>
                            <div class="checkbox-item">
                                <input id="value3" type="checkbox">
                                <label for="value3">Отключить комментирование записей</label>
                            </div>
                            <div class="checkbox-item">
                                <input id="value4" type="checkbox">
                                <label for="value4">Специальные возможности <span class="show-reference">?</span></label>
                                <div class="reference">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Пароль </p>
                        <a href="javascript:void(0)" class="edit">Изменить</a>
                    </div>
                    <div class="setting-blk">
                        <p>Обновлен 9 месяцев назад</p>
                    </div>
                    <a href="javascript:void(0)" class="editBtn">Изменить</a>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Электронная почта </p>
                        <a href="javascript:void(0)" class="edit">Изменить</a>
                    </div>
                    <div class="setting-blk">
                        <p>ma***@ya.ru</p>
                    </div>
                    <a href="javascript:void(0)" class="editBtn">Изменить</a>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Номер телефона</p>
                        <a href="javascript:void(0)" class="edit">Изменить</a>
                    </div>
                    <div class="setting-blk">
                        <p>ma***@ya.ru</p>
                    </div>
                    <a href="javascript:void(0)" class="editBtn">Изменить</a>
                </div>

                <div class="profile__setting-item remove">
                    <p>Вы можете <a href="javascript:void(0)">удалить свою страницу</a></p>
                </div>
                <div class="profile__setting-heading inner">
                    <p>Подтверждение входа</p>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Способы получить код безопасности</p>
                        <a href="javascript:void(0)" class="edit">Изменить</a>
                    </div>
                    <div class="setting-blk">
                        <p>SMS на номер +712 **** * ** 61</p>
                    </div>
                    <a href="javascript:void(0)" class="editBtn">Изменить</a>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Сбросить подтверждение</p>
                        <a href="javascript:void(0)" class="edit">Изменить</a>
                    </div>
                    <div class="setting-blk">
                        <a href="javascript:void(0)">С текущего браузера</a>
                        <a href="javascript:void(0)">С остальных устройств</a>
                    </div>
                </div>

                <a href="javascript:void(0)" class="profile-btn">Отключить подтверждение входа</a>

                <div class="profile__setting-heading inner">
                    <p>Безопасность</p>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Полная активность</p>
                    </div>
                    <div class="setting-blk">
                        <p>Только что (Украина, Браузер Chrome)</p>
                        <a href="javascript:void(0)">Показать историю активности</a>
                        <a href="javascript:void(0)">Завершить все сеансы</a>
                    </div>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Кто может оставлять записи на моей странице</p>
                    </div>
                    <div class="setting-blk">
                        <div class="select">
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                <option>Только я</option>
                                <option>Все пользователи</option>
                                <option>Только друзья</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Кто видит комментарии к записям</p>
                    </div>
                    <div class="setting-blk">
                        <div class="select">
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                <option>Только я</option>
                                <option>Все пользователи</option>
                                <option>Только друзья</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Кто может комментировать мои записи</p>
                    </div>
                    <div class="setting-blk">
                        <div class="select">
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                <option>Только я</option>
                                <option>Все пользователи</option>
                                <option>Только друзья</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Какие обновления видят в новостях мои друзья</p>
                    </div>
                    <div class="setting-blk">
                        <p>Обновление разделов</p>
                        <div class="btns-wrap">
                            <a href="javascript:void(0)">Фотографии</a>
                            <a href="javascript:void(0)">Видео</a>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item">
                    <div class="title-blk">
                        <p>Тип профиля</p>
                    </div>
                    <div class="setting-blk">
                        <div class="select">
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                <option>Открытый</option>
                                <option>Закрытый</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item profileType">
                    <div class="title-blk">
                        <p class="additionally"><span class="plus">+</span> Визуальный выбор отображаемой сетки
                            фотографий</p>
                    </div>
                    <div class="setting-blk">
                        <div class="radioBtn">
                            <div class="radioBtn-item gridView1">
                                <input id="value1" name="photoGrid" type="radio" checked>
                            </div>
                            <div class="radioBtn-item gridView2">
                                <input id="value2" name="photoGrid" type="radio">
                            </div>
                        </div>
                        <div class="range">
                            <div class="range-number">
                                <input type="text" class="range-value1" data-value='1' id="range-value1" readonly>
                                <input type="text" class="range-value2" data-value='30' id="range-value2" readonly>
                            </div>
                            <div id="slider-range"></div>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-item noFlex">
                    <div class="settingWrap">
                        <div class="settingWrap__title">
                            <div class="icon icon1" style="background-image:url('../img/icon1.png')"></div>
                            <div class="text">
                                <p>Показать мгновенные уведомления</p>
                            </div>
                        </div>
                        <label class="settingWrap__input">
                            <input type="checkbox" checked>
                        </label>
                    </div>
                    <div class="settingWrap">
                        <div class="settingWrap__title">
                            <div class="icon icon1" style="background-image:url('../img/icon2.png')"></div>
                            <div class="text">
                                <p>Показать уведомления со звуком</p>
                            </div>
                        </div>
                        <label class="settingWrap__input">
                            <input type="checkbox" checked>
                        </label>
                    </div>
                    <div class="settingWrap">
                        <div class="settingWrap__title">
                            <div class="icon icon1" style="background-image:url('../img/icon3.png')"></div>
                            <div class="text">
                                <p>Показывать текст сообщения</p>
                            </div>
                        </div>
                        <label class="settingWrap__input">
                            <input type="checkbox">
                        </label>
                    </div>
                </div>

                <div class="profile__setting-heading inner">
                    <p>Обратная связь</p>
                </div>

                <div class="profile__setting-item noFlex">
                    <div class="settingWrap with-select">
                        <div class="settingWrap__title">
                            <div class="icon icon1" style="background-image:url('../img/icon4.png')"></div>
                            <div class="text">
                                <p class="bold">Отметки «Нравится» <span>Уведомления о новых отметках «Нравится».</span>
                                </p>
                            </div>
                        </div>
                        <div class="setting-blk">
                            <div class="select right">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                    <option>Все</option>
                                    <option>Только друзья</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="settingWrap with-select">
                        <div class="settingWrap__title">
                            <div class="icon icon1" style="background-image:url('../img/icon5.png')"></div>
                            <div class="text">
                                <p class="bold">Поделились <span>Кто-то поделился Вашей записью, комментарием,
                                        фотографией, видеозаписью или товаром.</span></p>
                            </div>
                        </div>
                        <div class="setting-blk">
                            <div class="select right">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                    <option>Все</option>
                                    <option>Только друзья</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile__setting-heading inner">
                    <p>Уведомления по электронной почте</p>
                </div>

                <div class="profile__setting-item noFlex fullWidth">
                    <div class="settingWrap">
                        <div class="settingWrap__title">
                            <div class="icon icon1" style="background-image:url('../img/icon6.png')"></div>
                            <div class="text">
                                <p class="bold">Email для уведомлений</p>
                                <p class="bold">ma***@ya.ru <a href="javascript:void(0)">Изменить</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="settingWrap">
                        <div class="settingWrap__title">
                            <div class="icon icon1" style="background-image:url('../img/icon7.png')"></div>
                            <div class="text">
                                <p class="bold">Частота уведомлений</p>
                                <div class="setting-blk">
                                    <div class="select right">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                            <option>никогда не уведомлять</option>
                                            <option>всегда</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__setting-item clearfix">
                    <div class="removeList">
                        <div class="removeList-avatar">
                            <a href="profile-expert.html"></a>
                            <img src="../img/removeAvatar.png" alt="avatar">
                        </div>
                        <p class="removeList-name"><a href="profile-expert.html"></a>Иван Иванов</p>
                        <a class="removeList-btn" href="javascript:void(0)">Удалить из списка</a>
                    </div>
                </div>
                <div class="profile__setting-item clearfix">
                    <div class="removeList">
                        <div class="removeList-avatar">
                            <a href="profile-expert.html"></a>
                            <img src="../img/removeAvatar.png" alt="avatar">
                        </div>
                        <p class="removeList-name"><a href="profile-expert.html"></a>Иван Иванов</p>
                        <a class="removeList-btn" href="javascript:void(0)">Удалить из списка</a>
                    </div>
                </div>
                <div class="profile__setting-item clearfix">
                    <div class="removeList">
                        <div class="removeList-avatar">
                            <a href="profile-expert.html"></a>
                            <img src="../img/removeAvatar.png" alt="avatar">
                        </div>
                        <p class="removeList-name"><a href="profile-expert.html"></a>Иван Иванов</p>
                        <a class="removeList-btn" href="javascript:void(0)">Удалить из списка</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>

    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jcf.radio.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>

    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.ui.touch-punch.min.js"></script>


    <script src="../js/script.min.js"></script>
    <script src="../js/profile-setting.min.js"></script>

</body>

</html>