<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Профайл проекты(я-исполнитель)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile_menu.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>

    <div class="notifications_popup">
        <div class="closeBtn"></div>
        <div class="heading">
            <p>Мои уведомления</p>
        </div>
        <div class="content">
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <p class="text">А возможна ли выездная съем...</p>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="../img/search_page/publication-avatar.png" alt="avatar">
                </div>
                <div class="item-msg">
                    <p class="author">
                        Иван Иванов
                    </p>
                    <div class="text">
                        <p>А возможна ли выездная съем...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="userInfo clearfix">
                    <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                    <a class="messages notifications_popup-open" href="javascript:void(0)">
                        <i class="icon-icon10"></i>
                        <span>21</span>
                    </a>
                    <a class="score" href="score.html">Магазин</a>
                    <div class="info">
                        <div class="userName">
                            <p>Иван Иванов</p>
                            <span class="arrow"><i class="icon-icon28"></i></span>
                        </div>
                        <ul class="headerSetting">
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Мои сообщения</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav class="userMenu">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                                </ul>
                            </nav>
                            <nav class="userMenu-2">
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon34"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Профиль</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="profile-expert.html"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="profile-news.html"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="profile-messages.html"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="profile-friends.html"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="profile-company.html"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="profile.html"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="profile-foto.html"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="profile-video.html"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="profile-products.html"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="profile-bookmarks.html"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="profile-reviews.html"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner.jpg" alt="banner">
                </a>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner2.png" alt="banner">
                </a>
            </div>
            <div class="projects top">
                <div class="projects-nav">
                    <div class="nav flex-wrap">
                        <ul>
                            <li class="filter-items filter-items active" data-tab="customer"><a href="javascript:void(0)">Я заказчик</a></li>
                            <li class="filter-items filter-items" data-tab="executor"><a href="javascript:void(0)">Я исполнитель</a></li>
                            <li class="filter-items filter-items" data-tab="favorites"><a href="javascript:void(0)">Избранное</a></li>
                        </ul>
                        <div class="btns-blk desktop">
                            <a class="work-profile" href="javascript:void(0)">Рабочий профиль</a>
                            <a class="create-project" href="javascript:void(0)">Создать проект</a>
                        </div>
                    </div>
                </div>
                <div class="projects-content active tab-item customer">
                    <div class="projects-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название проекта">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                        <div class="btns-blk mobile">
                            <a class="work-profile" href="javascript:void(0)">Рабочий профиль</a>
                            <a class="create-project" href="javascript:void(0)">Создать проект</a>
                        </div>
                        <div class="checkbox-items">
                            <ul>
                                <li>
                                    <input id="q" type="checkbox" checked>
                                    <label for="q">Активные заявки</label>
                                </li>
                                <li>
                                    <input id="w" type="checkbox">
                                    <label for="w">Проекты в работе</label>
                                </li>
                                <li>
                                    <input id="e" type="checkbox">
                                    <label for="e">Завершенные проекты</label>
                                </li>
                                <li>
                                    <input id="r" type="checkbox">
                                    <label for="r">Отказ</label>
                                </li>
                                <li>
                                    <input id="t" type="checkbox">
                                    <label for="t">Спам</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="projects-items">
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-content active tab-item executor">
                    <div class="projects-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название проекта">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                        <div class="btns-blk mobile">
                            <a class="work-profile" href="javascript:void(0)">Рабочий профиль</a>
                            <a class="create-project" href="javascript:void(0)">Создать проект</a>
                        </div>
                        <div class="checkbox-items">
                            <ul>
                                <li>
                                    <input id="q" type="checkbox" checked>
                                    <label for="q">Активные заявки</label>
                                </li>
                                <li>
                                    <input id="w" type="checkbox">
                                    <label for="w">Проекты в работе</label>
                                </li>
                                <li>
                                    <input id="e" type="checkbox">
                                    <label for="e">Завершенные проекты</label>
                                </li>
                                <li>
                                    <input id="r" type="checkbox">
                                    <label for="r">Отказ</label>
                                </li>
                                <li>
                                    <input id="t" type="checkbox">
                                    <label for="t">Спам</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="projects-items">
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов22</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-content active tab-item favorites">
                    <div class="projects-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название проекта">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                        <div class="btns-blk mobile">
                            <a class="work-profile" href="javascript:void(0)">Рабочий профиль</a>
                            <a class="create-project" href="javascript:void(0)">Создать проект</a>
                        </div>
                        <div class="checkbox-items">
                            <ul>
                                <li>
                                    <input id="q" type="checkbox" checked>
                                    <label for="q">Активные заявки</label>
                                </li>
                                <li>
                                    <input id="w" type="checkbox">
                                    <label for="w">Проекты в работе</label>
                                </li>
                                <li>
                                    <input id="e" type="checkbox">
                                    <label for="e">Завершенные проекты</label>
                                </li>
                                <li>
                                    <input id="r" type="checkbox">
                                    <label for="r">Отказ</label>
                                </li>
                                <li>
                                    <input id="t" type="checkbox">
                                    <label for="t">Спам</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="projects-items">
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов33</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                        <div class="projects-item clearfix">
                            <div class="text">
                                <div class="avatar">
                                    <img src="../img/projects-item-img.png" alt="">
                                    <h3>Иван Иванов</h3>
                                    <span>Новосибирск</span>
                                </div>
                                <h4>Необходимо снять на видео 8 мероприятий</h4>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                                    фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку
                                    та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть,
                                    але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <a href="javascript:void(0)" class="include">
                                    <i class="icon-icon30"></i>
                                    Подключить опции
                                </a>
                            </div>
                            <div class="sum clearfix">
                                <span>3000 RUB</span>
                                <ul>
                                    <li>24 заявки</li>
                                    <li>Открыт 17 дней</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/profile.min.js"></script>
</body>

</html>