<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/score.css">
</head>

<body>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="check-entrance clearfix">
                    <a class="check" href="sign-in.html"><i class="icon-icon36"></i>Вход</a>
                    <a class="entrance" href="register-form.html"><i class="icon-icon5"></i>Регистрация</a>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav>
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="score.html">Магазин</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Магазин</span></li>
            </ul>
        </div>
    </div>

    <section class="score">
        <div class="container">
            <div class="title">
                <h2>Фототехника</h2>
            </div>
            <div class="page-content clearfix">
                <div class="page-left">
                    <div class="score-filter">
                        <div class="filterTop">
                            <div class="filterTop__search">
                                <input type="text" placeholder="Поиск....">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                            <p class="openBtn">Фильтры</p>
                            <span class="open-close"></span>
                        </div>

                        <form>
                            <div class="search">
                                <input type="text" placeholder="Поиск....">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                            <div class="filter-drop">
                                <div class="drop-item active">
                                    <div class="drop-item_heading">
                                        <p>Фототехника<i class="icon-icon28"></i></p>
                                    </div>
                                    <div class="drop-item_sub">
                                        <div class="links">
                                            <a href="score-catalog.html">Фотоаппараты</a>
                                            <a href="score-catalog.html">Видеокамеры</a>
                                            <a href="score-catalog.html">Объективы</a>
                                            <a href="score-catalog.html">Фотовспышки</a>
                                            <a href="score-catalog.html">Аксессуары для фототехники</a>
                                            <a href="score-catalog.html">Видеооборудование</a>
                                            <a href="score-catalog.html">Студийное оборудование</a>
                                            <a href="score-catalog.html">Прочее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-drop">
                                <div class="drop-item">
                                    <div class="drop-item_heading">
                                        <p>Аксессуары и атрибуты<i class="icon-icon28"></i></p>
                                    </div>
                                    <div class="drop-item_sub">
                                        <div class="links">
                                            <a href="score-catalog.html">Фотоаппараты</a>
                                            <a href="score-catalog.html">Видеокамеры</a>
                                            <a href="score-catalog.html">Объективы</a>
                                            <a href="score-catalog.html">Фотовспышки</a>
                                            <a href="score-catalog.html">Аксессуары для фототехники</a>
                                            <a href="score-catalog.html">Видеооборудование</a>
                                            <a href="score-catalog.html">Студийное оборудование</a>
                                            <a href="score-catalog.html">Прочее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-drop">
                                <div class="drop-item">
                                    <div class="drop-item_heading">
                                        <p>Одежда<i class="icon-icon28"></i></p>
                                    </div>
                                    <div class="drop-item_sub">
                                        <div class="links">
                                            <a href="score-catalog.html">Фотоаппараты</a>
                                            <a href="score-catalog.html">Видеокамеры</a>
                                            <a href="score-catalog.html">Объективы</a>
                                            <a href="score-catalog.html">Фотовспышки</a>
                                            <a href="score-catalog.html">Аксессуары для фототехники</a>
                                            <a href="score-catalog.html">Видеооборудование</a>
                                            <a href="score-catalog.html">Студийное оборудование</a>
                                            <a href="score-catalog.html">Прочее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-drop">
                                <div class="drop-item">
                                    <div class="drop-item_heading">
                                        <p>Транспорт<i class="icon-icon28"></i></p>
                                    </div>
                                    <div class="drop-item_sub">
                                        <div class="links">
                                            <a href="score-catalog.html">Фотоаппараты</a>
                                            <a href="score-catalog.html">Видеокамеры</a>
                                            <a href="score-catalog.html">Объективы</a>
                                            <a href="score-catalog.html">Фотовспышки</a>
                                            <a href="score-catalog.html">Аксессуары для фототехники</a>
                                            <a href="score-catalog.html">Видеооборудование</a>
                                            <a href="score-catalog.html">Студийное оборудование</a>
                                            <a href="score-catalog.html">Прочее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-drop">
                                <div class="drop-item">
                                    <div class="drop-item_heading">
                                        <p>Фотосессии с животными<i class="icon-icon28"></i></p>
                                    </div>
                                    <div class="drop-item_sub">
                                        <div class="links">
                                            <a href="score-catalog.html">Фотоаппараты</a>
                                            <a href="score-catalog.html">Видеокамеры</a>
                                            <a href="score-catalog.html">Объективы</a>
                                            <a href="score-catalog.html">Фотовспышки</a>
                                            <a href="score-catalog.html">Аксессуары для фототехники</a>
                                            <a href="score-catalog.html">Видеооборудование</a>
                                            <a href="score-catalog.html">Студийное оборудование</a>
                                            <a href="score-catalog.html">Прочее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-input">
                                <div class="input">
                                    <label class="heading">Страна</label>
                                    <input id="setCountry" type="input">
                                </div>
                            </div>
                            <div class="filter-input">
                                <div class="input">
                                    <label class="heading">Город</label>
                                    <input id="setCity" type="input">
                                </div>
                            </div>
                            <div class="filter-input">
                                <div class="input">
                                    <label class="heading">Метро</label>
                                    <input id="setMetro" type="input">
                                </div>
                            </div>
                            <div class="filter-simple">
                                <div class="checkbox">
                                    <div class="checkbox-item">
                                        <input id="x1" type="checkbox" checked>
                                        <label for="x1">По дате добавления</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="x2" type="checkbox">
                                        <label for="x2">По релевантности</label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-simple">
                                <div class="checkbox">
                                    <div class="checkbox-item">
                                        <input id="x4" type="checkbox" checked>
                                        <label for="x4">Покупка / Продажа</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="x5" type="checkbox">
                                        <label for="x5">Аренда</label>
                                    </div>
                                </div>
                            </div>
                            <div class="sum">
                                <label class="heading">Цена</label>
                                <div class="sum-number">
                                    <input type="text" class="amount" id="amount" readonly>
                                    <input type="text" class="amount2" id="amount2" readonly>
                                </div>
                                <div id="slider-range"></div>
                            </div>
                            <div class="filter-simple">
                                <p class="heading">Подбор товара</p>
                                <div class="checkbox">
                                    <div class="checkbox-item">
                                        <input id="x6" type="checkbox" checked>
                                        <label for="x6">Фотоаппараты со сменнойоптикой</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="i" type="checkbox">
                                        <label for="i">Компактные фотоаппараты</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="o" type="checkbox">
                                        <label for="o">Моментальные фотоаппараты</label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-simple">
                                <p class="heading">Производитель</p>
                                <div class="checkbox">
                                    <div class="checkbox-item">
                                        <input id="qq" type="checkbox" checked>
                                        <label for="qq">CANON 13</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="ww" type="checkbox">
                                        <label for="ww">NIKON 26</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="ee" type="checkbox">
                                        <label for="ee">PENTAX 19</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="rr" type="checkbox">
                                        <label for="rr">SONY 5</label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-simple">
                                <p class="heading">Формат матрицы</p>
                                <div class="checkbox">
                                    <div class="checkbox-item">
                                        <input id="uu" type="checkbox" checked>
                                        <label for="uu">APS-C 41</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="yy" type="checkbox">
                                        <label for="yy">Full frame 21</label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-simple">
                                <div class="checkbox">
                                    <div class="checkbox-item">
                                        <input id="aa" type="checkbox" checked>
                                        <label for="aa">Байонет</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="ss" type="checkbox">
                                        <label for="ss">Объектив в комплекте</label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-simple">
                                <p class="heading">Состояние</p>
                                <div class="checkbox">
                                    <div class="checkbox-item">
                                        <input id="ff" type="checkbox" checked>
                                        <label for="ff">Новый</label>
                                    </div>
                                    <div class="checkbox-item">
                                        <input id="gg" type="checkbox">
                                        <label for="gg">б/у</label>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="page-right">
                    <div class="score-content">
                        <div class="score-product clearfix">
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img1.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Olympus OM-D E-M10 Mark III</h3>
                                    <p>47 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img2.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Nikon D3400</h3>
                                    <p>26 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img3.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Sony Alpha A7 III</h3>
                                    <p>150 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img1.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Olympus OM-D E-M10 Mark III</h3>
                                    <p>47 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img2.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Nikon D3400</h3>
                                    <p>26 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img3.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Sony Alpha A7 III</h3>
                                    <p>150 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img1.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Olympus OM-D E-M10 Mark III</h3>
                                    <p>47 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img2.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Nikon D3400</h3>
                                    <p>26 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img3.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Sony Alpha A7 III</h3>
                                    <p>150 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img1.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Olympus OM-D E-M10 Mark III</h3>
                                    <p>47 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img2.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Nikon D3400</h3>
                                    <p>26 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img3.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Sony Alpha A7 III</h3>
                                    <p>150 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img1.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Olympus OM-D E-M10 Mark III</h3>
                                    <p>47 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img2.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Nikon D3400</h3>
                                    <p>26 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                            <div class="product-item">
                                <a href="score-product.html"></a>
                                <div class="img">
                                    <span class="vip"><i>vip</i></span>
                                    <span class="heart"><i class="icon-icon3"></i></span>
                                    <img src="../img/product-item-img3.png" alt="">
                                </div>
                                <div class="product-text">
                                    <h3>Sony Alpha A7 III</h3>
                                    <p>150 500 RUB</p>
                                    <span>Новосибирск</span>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="moreBtn">Смотреть всех</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/score.min.js"></script>
</body>

</html>