<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/registration.css">
</head>

<body>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="check-entrance clearfix">
                    <a class="check" href="sign-in.html"><i class="icon-icon36"></i>Вход</a>
                    <a class="entrance" href="register-form.html"><i class="icon-icon5"></i>Регистрация</a>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav>
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="score.html">Магазин</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="signIn-form">
        <div class="container">
            <h2>Вход</h2>
            <form class="form">
                <div class="form__input">
                    <i class="icon-icon5"></i>
                    <input type="text" placeholder="Ваш e-mail или логин" required>
                </div>
                <div class="form__input">
                    <i class="icon-lock"></i>
                    <input type="password" placeholder="Пароль" required>
                </div>
                <div class="form__psw">
                    <a href="recovery-pass.html">Я забыл свой пароль</a>
                </div>
                <div class="form__button">
                    <button type="submit">Войти</button>
                </div>
            </form>
        </div>
    </section>

    <section class="signIn-socials">
        <div class="container">
            <div class="wrapper">
                <h3>Войти через социальные сети:</h3>
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-icon18"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-icon2"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>