<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All pages</title>
</head>

<body>
    <ul>
        <li>
            <a href="index.html">Главная</a>
        </li>
        <li>
            <a href="cart.html">Корзина</a>
        </li>
        <li>
            <a href="catalog.html">Каталог</a>
        </li>
        <li>
            <a href="search-page.html">Страница поиска</a>
        </li>
        <li>
            <a href="product.html">Карточка товара</a>
        </li>
        <li>
            <a href="purchase-history.html">История заказов</a>
        </li>
        <li>
            <a href="policy.html">Policy</a>
        </li>
        <li>
            <a href="checkout.html">checkout</a>
        </li>
        <li>
            <a href="profile-bonuses.html">bonuses</a>
        </li>
        <li>
            <a href="404.html">404</a>
        </li>
        <li>
            <a href="category.html">Category</a>
        </li>
        <li>
            <a href="footer-text-page.html">Footer text page</a>
        </li>
        <li>
            <a href="wishlist.html">wishlist</a>
        </li>
        <li>
            <a href="help-center.html">help-center</a>
        </li>
        <li>
            <a href="compare.html">compare</a>
        </li>
        <li>
            <a href="personal-area.html">Личный кабинет</a>
        </li>
    </ul>
</body>

</html>