<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Profile bonuses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/logo-mob.png">
    <link rel="stylesheet" href="../../css/desktop/style.css">
    <link rel="stylesheet" href="../../css/desktop/profile.css">
</head>

<body>
    <!-- login popup -->
    <div class="overlay-popup overlay-login">
        <div class="close"></div>
        <div class="login-popup">
            <span class="close-popup"></span>
            <div class="flex-wrap">
                <div class="popup_header">
                    <p><span>Login</span> Get access to your Orders, Wishlist and Recommendations
                    </p>
                    <img src="../../images/login_img.png" alt="img">
                </div>
                <div class="popup_content">
                    <form>
                        <div class="form-input">
                            <input type="text" placeholder=" " required>
                            <span class="floating-label">Enter Email/Mobile number</span>
                            <span class="error-msg">Please enter valid Email/Mobile number</span>
                        </div>
                        <div class="form-input">
                            <input type="password" placeholder=" " required>
                            <span class="floating-label">Enter Password</span>
                            <a href="javascript:void(0)">Forgot?</a>
                            <span class="error-msg">Please enter valid Password</span>
                        </div>
                        <div class="form-button">
                            <button>Login</button>
                        </div>
                        <p>OR</p>
                        <div class="form-button white">
                            <button>Request OTP</button>
                        </div>
                        <div class="form-link">
                            <a href="javascript:void(0)" class="closeBtn open-registration">New to Flipkart? Create an account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end login popup -->

    <!-- check in popup -->
    <div class="overlay-popup overlay-checkIn">
        <div class="close"></div>
        <div class="checkIn-popup">
            <span class="close-popup"></span>
            <div class="flex-wrap">
                <div class="popup_header">
                    <p><span>Signup</span> We do not share your personal details with anyone.
                    </p>
                    <img src="../../images/login_img.png" alt="img">
                </div>
                <div class="popup_content">
                    <div class="step step1 active">
                        <form>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter Your Full name</span>
                                <span class="error-msg">Please enter valid Your Full name</span>
                            </div>
                            <div class="form-input">
                                <input type="email" placeholder=" " required>
                                <span class="floating-label">Enter Your Email</span>
                                <span class="error-msg">Please enter valid Email</span>
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter Your Mobile Number</span>
                                <span class="error-msg">Please enter valid Mobile Number</span>
                            </div>
                            <div class="form-button">
                                <button data-step="step2" class="nextStep">CONTINUE</button>
                            </div>
                            <div class="form-button white">
                                <button class="closePopup open-login">Existing user? Log in</button>
                            </div>
                        </form>
                    </div>
                    <div class="step step2">
                        <h4>You will receive a 4-digit number 
                            on you phone within 1 minute.</h4>
                        <form>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter your code</span>
                                <span class="error-msg">Please enter valid your code</span>
                            </div>
                            <div class="form-button">
                                <button data-step="step3" class="nextStep">CONTINUE</button>
                            </div>
                        </form>
                    </div>
                    <div class="step step3">
                        <h4>Create your password</h4>
                        <form>
                            <div class="form-input">
                                <input type="password" placeholder=" " required>
                                <span class="floating-label">Enter your password</span>
                                <span class="error-msg">Please Enter your password</span>
                            </div>
                            <div class="form-input">
                                <input type="password" placeholder=" " required>
                                <span class="floating-label">Confirm your password</span>
                                <span class="error-msg">Please Enter your password</span>
                            </div>
                            <div class="form-button">
                                <button data-step="step4" class="nextStep">CONTINUE</button>
                            </div>
                        </form>
                    </div>
                    <div class="step step4">
                        <h4><span>Congratulations!</span>
                        <span>Your account has been created.</span></h4>
                        <form>
                            <div class="form-input">
                                <input type="text" placeholder=" " required>
                                <span class="floating-label">Enter Email/Mobile number</span>
                                <span class="error-msg">Please enter valid Email/Mobile number</span>
                            </div>
                            <div class="form-input">
                                <input type="password" placeholder=" " required>
                                <span class="floating-label">Enter Password</span>
                                <a href="javascript:void(0)">Forgot?</a>
                                <span class="error-msg">Please enter valid Password</span>
                            </div>
                            <div class="form-button">
                                <button>Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="top-line">
            <div class="container">
                <div class="flex-wrap">
                    <div class="flex-item">
                        <a href="index.html" class="header_logo">
                            <img src="../../images/logo-desktop.png" alt="logo">
                        </a>
                        <div class="header_search">
                            <form class="form-search" action="search-page.html" method="get">
                                <input name="text" class="search-query" type="text" placeholder="Поиск продуктов, брендов и другое">
                                <button class="button"></button>
                            </form>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="header-topMenu">
                            <ul>
                                <li>
                                    <a id="registration" href="javascript:void(0)">Вход и Регистрация</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="info">
        <div class="container">
            <div class="info__wrapper">
                <div class="heading">
                    <h2>MY BONUSES</h2>
                </div>
                <div class="amount">
                    <p>MY CURRENT AMOUNT: <span>₹250</span></p>
                </div>
                <div class="flex-wrap">
                    <div class="icon">
                        <img src="../../images/bonuses-icon.png" alt="">
                    </div>
                    <div class="item item-1">
                        <p>Earn Coins on Flipkart orders</p>
                        <p><strong>How do I earn coins?</strong></p>
                        <p><strong>Shop for ₹250 = Earn 1 Coin</strong></p>
                        <p class="small">Max 10 coins per order. Coins are credited after the return period is over for all the products in the order</p>
                    </div>
                    <div class="item item-2">
                        <p>Use 50 Coins to join the Flipkart Plus program. Members can exchange coins to get additional offers on shopping, food, travel & more</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper_policy">
                    <p>Policies:</p>
                    <nav>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">Returns Policy </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Terms of use </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Security </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Privacy </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Infringement </a>
                            </li>
                        </ul>
                    </nav>
                    <p> © 2007-2019 Flipkart.com.</p>
                </div>
                <div class="footer__wrapper_help">
                    <p>Need help? Visit the<a href="javascript:void(0)"> Help Center</a> or <a href="javascript:void(0)">Contact Us</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- popup -->
    <div class="overlay-popup">
        <div class="close"></div>
        <div class="wrapper-popup">
            <span class="close-popup"></span>
            <div class="flex-wrap">
                <div class="popup_header">
                    <p><span>Login</span> Получите доступ к своим заказам, пожеланиям, и рекомандациям</p>
                    <img src="../../images/login_img.png" alt="img">
                </div>
                <div class="popup_content">
                    <form>
                        <input type="text" placeholder="Введите  E-mail/Телефон">
                        <button>Продолжить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/desktop/script.min.js"></script>
    <script src="../../js/desktop/profile-bonuses.min.js"></script>

</body>

</html>