<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Top look</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>

    <!-- popups -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-* - открывает попап -->
    <div class="overlay-requestCall overlayPopup">
        <div class="close"></div>
        <div class="requestCall__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p class="title">Введите данные и наш менеджер свяжется с вами в течении <span>10 минут!</span></p>
                <form onsubmit="return false">
                    <div class="form-input">
                        <i class="icon-icon1"></i>
                        <input type="text" placeholder="Ваше имя " required>
                    </div>
                    <div class="form-input">
                        <i class="icon-icon22"></i>
                        <input class="phoneInput" type="text" placeholder="Ваш телефон" required>
                    </div>
                    <div class="form-button">
                        <button class="closeBtn open-thanksMsg btnfos">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-thanksMsg overlayPopup">
        <div class="close"></div>
        <div class="thanksMsg__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p>Благодарим за ваш ответ.</p>
                <p class="red">Мы скоро перезвоним.</p>
            </div>
        </div>
    </div>

    <div class="overlay-thanksMsg2 overlayPopup">
        <div class="close"></div>
        <div class="thanksMsg2__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p>Благодарим за ваш отзыв.</p>
            </div>
        </div>
    </div>

    <div class="overlay-feedback overlayPopup">
        <div class="close"></div>
        <div class="feedback__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <form onsubmit="return false">
                    <div class="form-file">
                        <input type="file" name="file" id="file" class="inputfile" accept="image/x-png,image/gif,image/jpeg" required>
                        <label for="file">
                            <span class="imgSize">
                            <img id="preview" src="../images/uploadImg.png" alt="your image" />
                        </span>
                            <span class="uploadTitle">загрузить фото</span>
                        </label>
                    </div>
                    <div class="form-input">
                        <i class="icon-icon1"></i>
                        <input type="text" placeholder="Ваше имя " required>
                    </div>
                    <div class="form-textarea">
                        <i class="icon-icon8"></i>
                        <textarea placeholder="Комментарии..." required></textarea>
                    </div>
                    <div class="form-button">
                        <button class="closeBtn open-thanksMsg2 btnfos">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-photos overlayPopup">
        <div class="close"></div>
        <div class="photos__popup">
            <span class="close-popup closeBtn"></span>
            <div class="container">
                <div class="top_filter">
                    <div data-tab="tab-content1" class="top_filter-items">
                        <p>Все</p>
                    </div>
                    <div data-tab="tab-content2" class="top_filter-items">
                        <p>Полный образ</p>
                    </div>
                    <div data-tab="tab-content3" class="top_filter-items">
                        <p>Прически</p>
                    </div>
                    <div data-tab="tab-content4" class="top_filter-items">
                        <p>Макияж</p>
                    </div>
                </div>
                <div class="tab-content tab-content1">
                    <div class="content">
                        <div class="grid clearfix">
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-content2">
                    <div class="content">
                        <div class="grid clearfix">
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-content3">
                    <div class="content">
                        <div class="grid clearfix">
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-content4">
                    <div class="content">
                        <div class="grid clearfix">
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img1.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img2.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img3.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img4.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                            <div class="grid-item">
                                <img src="../images/popup-img5.jpg" alt="photo">
                                <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fullPage">
        <div class="section section1 fp-noscroll" data-anchor="firstPage" id="section1">
            <header class="header">
                <div class="header__top">
                    <div class="container">
                        <div class="wrapper">
                            <div class="item info">
                                <a href="tel:+77777777777" class="phone"><i class="icon-icon22"></i>+7 (777) 777 77 77</a>
                                <a href="mailto:top_look@gmail.com" class="email"><i class="icon-icon23"></i>top_look@gmail.com</a>
                            </div>
                            <div class="item mobileMenu">
                                <button class="toggle-menu">
                                    <span class="hamburger">
                            <span class="sw-topper"></span>
                                    <span class="sw-bottom"></span>
                                    <span class="sw-footer"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="item logotype">
                                <a href="index.html" class="logo">
                                    <img src="../images/logo.png" alt="logotype">
                                </a>
                            </div>
                            <div class="item socials">
                                <ul class="social">
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon17"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon20"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon21"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon19"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon18"></i></a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)" class="callBack open-requestCall">Мы перезвоним</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__bottom">
                    <div class="container">
                        <nav class="mainMenu" id="mainMenu">
                            <ul>
                                <li>
                                    <a href="index.html">Главная</a>
                                </li>
                                <li data-menuanchor="secondPage">
                                    <a href="#secondPage">Весь образ</a>
                                </li>
                                <li data-menuanchor="thirdPage">
                                    <a href="#thirdPage">Прически</a>
                                </li>
                                <li data-menuanchor="fourthPage">
                                    <a href="#fourthPage">Макияж</a>
                                </li>
                                <li data-menuanchor="fifthPage">
                                    <a href="#fifthPage">Обучение</a>
                                </li>
                                <li data-menuanchor="sixthPage">
                                    <a href="#sixthPage">О компании</a>
                                </li>
                                <li data-menuanchor="seventhPage">
                                    <a href="#seventhPage">Отзывы</a>
                                </li>
                                <li data-menuanchor="ninthPage">
                                    <a href="#ninthPage">Инстаграм</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <div class="banner">
                <div class="fixed-social">
                    <ul>
                        <li>
                            <a class="facebook" href="javascript:void(0)">
                                <i class="icon-icon17"></i>
                            </a>
                        </li>
                        <li>
                            <a class="vkontakte" href="javascript:void(0)">
                                <i class="icon-icon20"></i>
                            </a>
                        </li>
                        <li>
                            <a class="instagram" href="javascript:void(0)">
                                <i class="icon-icon21"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <h1>”Лучше, чем идеально”</h1>
                </div>
                <img src="../images/s1-img1.png" alt="image" class="mobileImg">
            </div>
        </div>
        <div class="section section2 fp-noscroll" data-anchor="secondPage" id="section2">
            <img src="../images/s2-img2.jpg" alt="image" class="staticimg">
            <div class="container">
                <h2>Полный  образ  невесты</h2>
                <div class="wrapper">
                    <img src="../images/s2-img1.png" alt="image" class="staticBg">
                    <div class="item item1">
                        <div class="heading">
                            <p class="title">Прическа</p>
                            <div class="img">
                                <img src="../images/s2-img3.png" alt="image">
                                <span class="num">01</span>
                            </div>
                        </div>
                        <div class="content">
                            <p><span class="coloredLetter">П</span>рическа любой сложности - безупречно!
                            </p>
                            <p>Люблю каждый локон!</p>
                            <p>Индивидуальный подбор причёски!</p>
                        </div>
                    </div>
                    <div class="item item2">
                        <div class="heading">
                            <div class="img">
                                <img src="../images/s2-img4.png" alt="image">
                                <span class="num">02</span>
                            </div>
                            <p class="title">Макияж</p>
                        </div>
                        <div class="content">
                            <p><span class="coloredLetter">П</span>рофессиональная косметика класса Люкс!</p>
                            <p>Не использую много тона</p>
                            <p>Создаю идеальную Вас!</p>
                        </div>

                        <!-- mobile block -->
                        <div class="btnBlk">
                            <a href="#eighthPage" class="btn btnfos">Заказать услугу</a>
                        </div>
                        <!-- end mobile block -->
                    </div>
                    <div class="item item3">
                        <div class="heading">
                            <div class="img">
                                <img src="../images/s2-img5.png" alt="image">
                                <span class="num">03</span>
                            </div>
                            <p class="title">Услуги стилиста</p>
                        </div>
                        <div class="content">
                            <p><span class="coloredLetter">П</span>одбор идеального индивидуального образа!</p>
                            <p>Только современные модные тенденции Красоты!</p>
                            <p>Большая команда коллег свадебной тематики.</p>
                        </div>
                    </div>
                    <!-- mobile block -->
                    <div class="item item4">
                        <a href="#eighthPage" class="btn btnfos">Заказать услугу</a>
                    </div>
                    <!-- end mobile block -->
                </div>
            </div>
        </div>
        <div class="section section3 fp-noscroll" data-anchor="thirdPage" id="section3">
            <div class="container">
                <h2>Прически</h2>
                <div class="wrapper">
                    <div class="item">
                        <img src="../images/s3-img1.jpg" alt="photo">
                        <span class="title">short</span>
                    </div>
                    <div class="item">
                        <img src="../images/s3-img2.jpg" alt="photo">
                        <span class="title">medium</span>
                    </div>
                    <div class="item">
                        <img src="../images/s3-img3.jpg" alt="photo">
                        <span class="title">long</span>
                    </div>
                </div>
                <div class="btnsBlk">
                    <a href="javascript:void(0)" data-value="tab-content3" class="btn open-photos btnfos">Смотреть фото</a>
                    <a href="#eighthPage" class="btn btnfos">Заказать услугу</a>
                </div>
            </div>
        </div>
        <div class="section section4 fp-noscroll" data-anchor="fourthPage" id="section4">
            <img src="../images/s4-img1.png" alt="image" class="staticimg">
            <div class="container">
                <h2>Макияж</h2>
                <div class="wrapper">
                    <div class="item">
                        <div class="item-grey">
                            <p class="title">Работаю на профессиональной косметике класса LUX</p>
                            <div class="content">
                                <p>Гарантия стойкости от 12 до 24 часов</p>
                                <p>Ваш Make-up будет безупречным на протяжении всего мероприятия</p>
                            </div>
                        </div>
                        <div class="item-white">
                            <p class="title">Профессиональная подготовка кожи к макияжу</p>
                            <div class="content">
                                <p>Питаю, увлажняю, «пробуждаю» кожу, заставляю кожу «дышать»</p>
                                <p>Кожа на лице будет иметь свежий, здоровый цвет, излучать молодость</p>
                            </div>
                        </div>
                    </div>
                    <!-- desktop image -->
                    <img src="../images/s4-img4.png" alt="image" class="centerImg">
                    <!-- end desktop image -->
                    <div class="item">
                        <div class="item-white">
                            <p class="title">Не использую много тона</p>
                            <div class="content">
                                <p>Ваше лицо выглядит естественно</p>
                                <p>Подчеркиваем Вашу индивидуальную красоту
                                </p>
                            </div>
                        </div>
                        <div class="item-grey">
                            <p class="title">Макияж выполнен согласно Вашему типу лица</p>
                            <div class="content">
                                <p>Позволяет подчеркнуть ваши достоинства и скрыть недостатки</p>
                                <p>Создаю идеальную Вас!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile image -->
                <img src="../images/s4-img4.png" alt="image" class="mobileImg">
                <!-- end mobile image -->
                <div class="btnsBlk">
                    <a href="javascript:void(0)" data-value="tab-content4" class="btn open-photos btnfos">Смотреть фото</a>
                    <a href="#eighthPage" class="btn btnfos">Заказать услугу</a>
                </div>
            </div>
        </div>
        <div class="section section5 fp-noscroll" data-anchor="fifthPage" id="section5">
            <div class="container">
                <h2>Обучение</h2>
                <div class="rightBlk">
                    <div class="filter-wrap">
                        <div data-tab="tab-item1" class="filter-items active">
                            <p>Групповое</p>
                        </div>
                        <div data-tab="tab-item2" class="filter-items">
                            <p>Индивидуальное</p>
                        </div>
                    </div>
                    <div class="tab-item tab-item1 active">
                        <p>Стоимость курса: <strong>20 000RUB</strong></p>
                        <p>Количество занятий: <strong>10 (5 недель, 2 раза в неделю)</strong></p>
                        <p>Дата начала: <strong>14 марта 2019</strong></p>
                        <div class="wrap">
                            <p>Vestibulum integer donec eu massa adipiscing et, id dis etiam dictum wisi, libero lorem nam, magna in. Viverra praesent dolor et. Nibh sit. Integer justo vestibulum, mi quam sit et tortor et egestas. Sagittis sed. Pretium expedita
                                urna elit quam et, adipiscing deleniti nullam, condimentum dui.</p>
                        </div>
                    </div>
                    <div class="tab-item tab-item2">
                        <p>Стоимость курса: <strong>10 000RUB</strong></p>
                        <p>Количество занятий: <strong>14 (7 недель, 2 раза в неделю)</strong></p>
                        <p>Дата начала: <strong>24 марта 2019</strong></p>
                        <div class="wrap">
                            <p>Vestibulum integer donec eu massa adipiscing et, id dis etiam dictum wisi, libero lorem nam, magna in. Viverra praesent dolor et. Nibh sit. Integer justo vestibulum, mi quam sit et tortor et egestas. Sagittis sed. Pretium expedita
                                urna elit quam et, adipiscing deleniti nullam, condimentum dui.</p>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btn open-requestCall btnfos">Записаться</a>
                </div>
            </div>
        </div>
        <div class="section section6 fp-noscroll" data-anchor="sixthPage" id="section6">
            <div class="container">
                <h2>О компании</h2>
                <div class="wrapper">
                    <div class="item">
                        <p class="number">2000</p>
                        <p class="title">счастливых клиентов</p>
                    </div>
                    <div class="item">
                        <p class="number">182</p>
                        <p class="title">счастливых клиентов</p>
                    </div>
                    <div class="item">
                        <p class="number">35</p>
                        <p class="title">счастливых клиентов</p>
                    </div>
                    <div class="item">
                        <p class="number">801</p>
                        <p class="title">счастливых клиентов</p>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="heading">
                            <p class="name">Имя Фамилия</p>
                            <p class="position">учредитель бренда TOP LOOK</p>
                        </div>
                        <div class="info">
                            <p>Facilisis faucibus pellentesque mauris suspendisse quis, eu vivamus felis hac, mauris ornare condimentum, felis ut lorem, semper arcu gravida rutrum vestibulum risus vitae. <strong>Sit massa nec rhoncus, duis accumsan, sociis maecenas</strong>                                tincidunt phasellus dignissim. Lacus porta, in commodo, faucibus quae egestas est vestibulum, vivamus <strong>odio pede et, elit scelerisque</strong> sit pellentesque vitae. Pede laoreet ante wisi, mauris ut vitae viverra.
                                Malesuada et integer maecenas risus tellus elit.</p>
                            <p>Lacus porta, in commodo, <strong>faucibus quae egestas est vestibulum</strong>, vivamus odio pede et, elit scelerisque sit pellentesque vitae. Pede laoreet ante wisi, mauris ut vitae viverra. Malesuada et integer maecenas risus
                                tellus elit</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/s6-img1.png" alt="photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section7 fp-noscroll" data-anchor="seventhPage" id="section7">
            <div class="container">
                <h2>ОТзывы</h2>
                <div class="actions">
                    <div class="item item1">
                        <a href="javascript:void(0)" class="open-feedback"><i class="icon-icon16"></i></a>
                    </div>
                    <div class="item item2">
                        <a href="javascript:void(0)" class="open-feedback"><i class="icon-icon16"></i></a>
                    </div>
                </div>
                <div class="reviews-nav">
                    <div class="item">
                        <img src="../images/s7-img1.png" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s7-img2.png" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s7-img3.png" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s7-img4.png" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s7-img5.png" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s7-img3.png" alt="photo">
                    </div>
                </div>
                <div class="reviews-for">
                    <div class="item">
                        <div class="name">
                            <p>Анджеелика</p>
                        </div>
                        <div class="content">
                            <p>Vestibulum integer donec eu massa adipiscing et, id dis etiam dictum wisi, libero lorem nam, magna in. Viverra praesent dolor et. Nibh sit. Integer justo vestibulum, mi quam sit et tortor et egestas. Sagittis sed. Pretium expedita
                                urna elit quam et, adipiscing deleniti nullam, condimentum dui.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            <p>Анджеелика2</p>
                        </div>
                        <div class="content">
                            <p>Vestibulum integer donec eu massa adipiscing et, id dis etiam dictum wisi, libero lorem nam, magna in. Viverra praesent dolor et. Nibh sit. Integer justo vestibulum, mi quam sit et tortor et egestas. Sagittis sed. Pretium expedita
                                urna elit quam et, adipiscing deleniti nullam, condimentum dui.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            <p>Анджеелика3</p>
                        </div>
                        <div class="content">
                            <p>Vestibulum integer donec eu massa adipiscing et, id dis etiam dictum wisi, libero lorem nam, magna in. Viverra praesent dolor et. Nibh sit. Integer justo vestibulum, mi quam sit et tortor et egestas. Sagittis sed. Pretium expedita
                                urna elit quam et, adipiscing deleniti nullam, condimentum dui.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            <p>Анджеелика4</p>
                        </div>
                        <div class="content">
                            <p>Vestibulum integer donec eu massa adipiscing et, id dis etiam dictum wisi, libero lorem nam, magna in. Viverra praesent dolor et. Nibh sit. Integer justo vestibulum, mi quam sit et tortor et egestas. Sagittis sed. Pretium expedita
                                urna elit quam et, adipiscing deleniti nullam, condimentum dui.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            <p>Анджеелика5</p>
                        </div>
                        <div class="content">
                            <p>Vestibulum integer donec eu massa adipiscing et, id dis etiam dictum wisi, libero lorem nam, magna in. Viverra praesent dolor et. Nibh sit. Integer justo vestibulum, mi quam sit et tortor et egestas. Sagittis sed. Pretium expedita
                                urna elit quam et, adipiscing deleniti nullam, condimentum dui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section8 fp-noscroll" data-anchor="eighthPage" id="section8">
            <div class="container">
                <h2>Квиз</h2>
                <form class="questions" onsubmit="return false">
                    <div class="question question-1 active">
                        <div class="heading">
                            <div class="number">
                                <p>
                                    01 <span>/ 6</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Какой вид услуги Вас интересует?</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="wrapper">
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img1.jpg')"></span>
                                        <input type="radio" checked="checked" id="question-value1" name="question-1">
                                        <span class="checkmark"></span>
                                        <span class="title">Полный образ</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img2.jpg')"></span>
                                        <input type="radio" name="question-1" id="question-value2">
                                        <span class="checkmark"></span>
                                        <span class="title">Макияж</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img3.jpg')"></span>
                                        <input type="radio" name="question-1" id="question-value3">
                                        <span class="checkmark"></span>
                                        <span class="title">Прическа</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img4.jpg')"></span>
                                        <input type="radio" name="question-1" id="question-value4">
                                        <span class="checkmark"></span>
                                        <span class="title">Обучения</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question question-2">
                        <div class="heading">
                            <div class="number">
                                <p>
                                    02 <span>/ 6</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Какое у Вас мероприятие?</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="wrapper">
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img5.jpg')"></span>
                                        <input type="radio" checked="checked" name="question-2">
                                        <span class="checkmark"></span>
                                        <span class="title">Свадьба. Я невеста</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img6.jpg')"></span>
                                        <input type="radio" name="question-2">
                                        <span class="checkmark"></span>
                                        <span class="title">Фотосессия</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img7.jpg')"></span>
                                        <input type="radio" name="question-2">
                                        <span class="checkmark"></span>
                                        <span class="title">Вечерний выход</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <span class="img" style="background-image: url('../images/s8-img8.jpg')"></span>
                                        <input type="radio" name="question-2">
                                        <span class="checkmark"></span>
                                        <span class="title">Дневной выход</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question question-3">
                        <div class="heading">
                            <div class="number">
                                <p>
                                    03 <span>/ 6</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Где бы вам хотелось провести сборы?</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="wrapper-2">
                                <div class="item">
                                    <label>
                                        <input type="radio" checked="checked" name="question-3">
                                        <span class="checkmark"></span>
                                        <span class="title">В студии стилиста</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="radio" name="question-3">
                                        <span class="checkmark"></span>
                                        <span class="title">Студия / Гостиница по моему выбору</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="radio" name="question-3">
                                        <span class="checkmark"></span>
                                        <span class="title">У меня дома</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <label>
                                        <input type="radio" name="question-3">
                                        <span class="checkmark"></span>
                                        <span class="title">Ещё не решила</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question question-4">
                        <div class="heading">
                            <div class="number">
                                <p>
                                    04 <span>/ 6</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Ваши дополнительные пожелания к образу</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="form-textarea">
                                <textarea placeholder="Ваши комментарии..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="question question-5">
                        <div class="heading">
                            <div class="number">
                                <p>
                                    05 <span>/ 6</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Как вас зовут?</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="form-input">
                                <i class="icon-icon1"></i>
                                <input type="text" placeholder="Ваше имя" required>
                            </div>
                        </div>
                    </div>
                    <div class="question question-6">
                        <div class="heading">
                            <div class="number">
                                <p>
                                    06 <span>/ 6</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Ваши контакты для связи</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-wrap">
                                <div class="form-input">
                                    <i class="icon-icon22"></i>
                                    <input type="text" placeholder="Телефон" class="phoneInput" required>
                                </div>
                                <div class="form-input">
                                    <i class="icon-icon23"></i>
                                    <input type="text" placeholder="Почта" required>
                                </div>
                                <div class="form-input">
                                    <i class="icon-icon21"></i>
                                    <input type="text" placeholder="Инстаграм" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="next-question btnfos">Дальше</a>
                    <button class="sendBtn open-thanksMsg btnfos">Дальше</button>
                </form>
            </div>
        </div>
        <div class="section section9" data-anchor="ninthPage" id="section9">
            <div class="instaSection">
                <div class="container">
                    <h2>мы в инстаграм</h2>
                </div>
                <div class="instaSlider">
                    <div class="item">
                        <img src="../images/s9-img1.jpg" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s9-img2.jpg" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s9-img3.jpg" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s9-img4.jpg" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s9-img5.jpg" alt="photo">
                    </div>
                    <div class="item">
                        <img src="../images/s9-img2.jpg" alt="photo">
                    </div>
                </div>
                <a href="javascript:void(0)" class="btn btnfos">Подписаться</a>
            </div>
            <footer class="footer">
                <div class="footer__info">
                    <div class="container">
                        <div class="wrapper">
                            <div class="item logo">
                                <a href="index.html">
                                    <img src="../images/logo.png" alt="logotype">
                                </a>
                            </div>
                            <div class="item menu">
                                <nav class="footerMenu">
                                    <ul>
                                        <li>
                                            <a href="index.html">Главная</a>
                                        </li>
                                        <li data-menuanchor="secondPage">
                                            <a href="#secondPage">Весь образ</a>
                                        </li>
                                        <li data-menuanchor="thirdPage">
                                            <a href="#thirdPage">Прически</a>
                                        </li>
                                        <li data-menuanchor="fourthPage">
                                            <a href="#fourthPage">Макияж</a>
                                        </li>
                                        <li data-menuanchor="fifthPage">
                                            <a href="#fifthPage">Обучение</a>
                                        </li>
                                        <li data-menuanchor="sixthPage">
                                            <a href="#sixthPage">О компании</a>
                                        </li>
                                        <li data-menuanchor="seventhPage">
                                            <a href="#seventhPage">Отзывы</a>
                                        </li>
                                        <li data-menuanchor="ninthPage">
                                            <a href="#ninthPage">Инстаграм</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="item contacts">
                                <p class="title">Наши контакты:</p>
                                <ul>
                                    <li><a href="tel:+77777777777" class="phone"><i class="icon-icon22"></i>+7 (777) 777 77 77</a></li>
                                    <li><a href="mailto:top_look@gmail.com" class="email"><i class="icon-icon23"></i>top_look@gmail.com</a></li>
                                </ul>
                            </div>
                            <div class="item socials">
                                <p class="title">Мы в соц сетях:</p>
                                <ul class="social">
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon17"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon20"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon21"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon19"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon18"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <div class="container">
                        <p>2019, Все права защищены</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="alert">
        <p>Пожалуйста, переверните телефон.</p>
    </div>



    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.fullPage.min.js"></script>
    <script src="../js/scrolloverflow.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>

    <script src="../js/script.min.js"></script>
    <script src="../js/home.min.js"></script>
</body>

</html>