<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Links</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="contacts.html">Contacts (only mobile)</a>
        </li>
        <li>
            <a href="order-status.html">Order Status</a>
        </li>
        <li>
            <a href="personal-area.html">Personal area</a>
        </li>
        <li>
            <a href="pricing.html">Pricing</a>
        </li>
        <li>
            <a href="service-overview.html">Service overview</a>
        </li>
        <li>
            <a href="types-of-visas.html">Types of visas</a>
        </li>
        <li>
            <a href="visa-application.html">Visa application</a>
        </li>
        <li>
            <a href="visa-instructions.html">Visa instructions (only mobile)</a>
        </li>
    </ul>
</body>

</html>